@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/fSelect.css" rel="stylesheet">

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css" />

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>

        @*<form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Sačuvaj</button>
            </form>*@

        @**@
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Moji podaci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Gradovi</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="home">
                <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Input.Email" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                        }
                        else
                        {
                            <input asp-for="Input.Email" class="form-control" />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Sačuvaj</button>
                </form>
            </div>
            <div class="tab-pane container fade" id="menu1">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <td>
                                Naziv
                            </td>
                            <td>Izbrisi</td>
                        </tr>
                    </thead>
                    <tbody class="korisnikPredmet">
                        @foreach (var item in Model.Input.KorisnikoviPredmeti)
                        {
                            <tr>
                                <td>

                                    @item.Naziv

                                </td>
                                <td>
                                    <button class="obrisiPredmet btn btn-danger" value="@item.Id">

                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <select name="gearquan" id="listaPredmeta" asp-items="Model.Input.Predmeti" class="demo form-group" multiple="multiple"></select>
                </div>

                <button class="btn-save btn btn-primary" id="submitZaPredmete">Save</button>

            </div>
            <div class="tab-pane container fade" id="menu2">
                <div class="form-group">
                    <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>
                                    Naziv
                                </td>
                                <td>Izbrisi</td>
                            </tr>
                        </thead>
                        <tbody class="korisnikGrad">
                            @foreach (var item in Model.Input.KorisnikoviGradovi)
                            {
                                <tr>
                                    <td>

                                        @item.Naziv

                                    </td>
                                    <td>
                                        <button class="obrisiGrad btn btn-danger" value="@item.Id">

                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <select name="gearquan" id="listaGradova" asp-items="Model.Input.Gradovi" class="demo form-group" multiple="multiple"></select>
                    <div class="form-group">
                        <button class="btn-save btn btn-primary" id="submitZaGrad">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Slika profila</h4>
        <div class="card" style="width: 18rem;">

            @if (Model.Input.SlikaUrl.Contains("facebook"))
            {
                <img class="card-img-top" src="@Model.Input.SlikaUrl" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="~/images/profilne/@Model.Input.SlikaUrl" alt="Card image cap">
            }
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-controller="ImageUpload" asp-action="UploadFile">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="~/js/fSelect.js"></script>
<script>
    $('.demo').fSelect();

    //$("#submitZaPredmete").click(() => {
    //    var niz=[];
    //    niz.push($('#listaPredmeta').find(":selected").text());
    //    console.log(niz);
    //})
    var niz = []
    $("#submitZaPredmete").click(() => {
        $("#listaPredmeta option:selected").each(function () {
            // Add $(this).val() to your list
            var selected = $(this).val();
            var btn = $(this);
            var tr = `<tr>`

            if (!checkValue(selected, niz)) {
                niz.push(selected)

                $.ajax({
                    method: "post",
                    data: { predmeti: selected },
                    url: "/api/korisnikapi/DodajPredmet",
                    success: (data) => {
                        //console.log(data);
                        tr += `<td>${btn.text()}</td>
                                    <td><button class="obrisiPredmet btn btn-danger" value="Id">
                                    <i class="fa fa-trash"></i>
                                    </button></tr>`;
                        $("tbody.korisnikPredmet").append(tr);
                        alertify.notify(`Uspjesno dodan predmet`, 'success', 5, function () { console.log(`Uspjesno dodan predmet ${data.Naziv}`); });
                    },
                    error: (xhr, ajaxOptions, thrownError) => {
                        console.log("Greska");
                        alertify.notify(`Greška ${xhr} asa   `, 'error', 5, function () { console.log(ajaxOptions); });

                    }
                })
            }
            console.log(niz);

        })
    });

    function checkValue(value, arr) {
        var status = false;

        for (var i = 0; i < arr.length; i++) {
            var name = arr[i];
            if (name == value) {
                status = true;
                break;
            }
        }

        return status;
    }

    $(".obrisiPredmet").on("click", (e) => {

        var id = (e.currentTarget.value);
        $.ajax({
            url: "/api/korisnikapi/IzbrisiPredmet",
            data: { id: id },
            success: (data) => {
                console.log(data);
                alertify.notify(`Uspjesno izbrisan predmet`, 'success', 5, function () { console.log(`Uspjesno dodan predmet ${data.Naziv}`); });

            },
            error: (err) => {
                console.log(err);
            }
        })
    });

    $("#submitZaGrad").click(() => {
        $("#listaGradova option:selected").each(function () {
            var selected = $(this).val();
            var btn = $(this);
            var tr = `<tr>`
            console.log($(this));
            if (!checkValue(selected, niz)) {
                niz.push(selected);
                $.ajax({
                    method: "post",
                    data: { gradovi: selected },
                    url: "/api/korisnikapi/DodajGrad",
                    success: (data) => {
                        console.log(data);
                        alertify.notify(`Uspjesno dodan grad ${btn.text()}`, 'success', 5, function () { console.log(`Uspjesno dodan grad ${btn.text}`); });
                        tr += `<td>${btn.text()}</td>
                                    <td><button class="obrisiGrad btn btn-danger" value="Id">
                                    <i class="fa fa-trash"></i>
                                    </button></tr>`;
                        $("tbody.korisnikGrad").append(tr);
                    },
                    error: (err) => {
                        alertify.notify(`Greška `, 'error', 5, function () { console.log(`nije dodan grad`); });

                    }
                })
            }

        })
    });

    $(".obrisiGrad").on("click", (e) => {

        var id = (e.currentTarget.value);
        var btn = $(this);
        $.ajax({
            url: "/api/korisnikapi/IzbrisiGrad",
            data: { id: id },
            success: (data) => {
                alertify.notify(`Uspjesno izbrisan grad`, 'success', 5, function () { console.log(`Uspjesno dodan grad ${data.Naziv}`); });

            },
            error: (err) => {
                console.log(err);
            }
        })
    });

    $(document).on("click", '.obrisiGrad', function () {

        $(this).closest('tr').remove();
    });
    $(document).on("click", '.obrisiPredmet', function () {

        $(this).closest('tr').remove();
    });
</script>